body
  font 13px 'Quicksand', Arial, sans-serif
  background #0e1021
  color white
  margin 0
  h1
    font-size 100px
    min-width 200px
hr
  color gray
  background-color gray
  width 80%
  height 1px
  margin 7%
  border 0

.landing
  margin auto
  width 80%
  margin-top 20px
  @media screen and (max-width: 500px)
      display none
  img
    width 90%
.small_header
  width 100%
  margin auto
  margin-top 10px
  @media screen and (min-width: 500px)
    display none
  @media screen and (max-width: 500px)
    display block
  img
    display block
    margin auto
    width 80%

#menue_container
  width 100%
  margin auto
  float right
  ul
    font-size 20px
    width 80%
    @media screen and (max-width: 1000px)
      width 100%
    margin-top 10px
    li
      margin-left 20px
      float Left
    a
      font-weight bold
      color white
      text-decoration None
      transition all 0.3s ease
      &:hover
        color gray
        text-decoration None
      &:active
        color white
        text-decoration None
      &:visited
        color white
  .image_container
    float left
    @media screen and (max-width: 1000px)
      width 20%
    width 12%
    margin auto
    margin-top 5px
    img
      height 80%
      width 90%
  .apply_container
    float right
    width 10%
    vertical-align: text-top;
    @media screen and (max-width: 1000px)
      display None



header
  position: fixed
  top -150px
  font-size 72px
  line-height 108px
  height 80px
  width 100%
  padding-top 10px
  font-size 24px
  line-height 48px
  background #05060d
  transition all 0.7s ease
  -webkit-transition all 0.7s ease
  @media screen and (max-width: 700px)
    display None


header.sticky
  top 0px
  text-align left
  padding-left 20px
  transition all 0.7s ease

.prices_container
  width 100%
  display block
  .price
    width 30%
    margin auto
    display block
    p
      text-align center
      color white
      font-size 20px

.challenge_price
  min-width 26%

.teaserlanding
  margin-top 150px
  width 100%
  img
    margin auto
    display block
    width 50%
    @media screen and (max-width: 700px)
      width 80%
  .teaserinfo
    margin-top 25px
    width 50%
    margin auto
    display block
    h2
      text-align center
      font-size 50px
      letter-spacing 2px
      line-height 80%
      @media screen and (max-width: 1100px)
        font-size 30px
      @media screen and (max-width: 700px)
        font-size 15px
    .teaserinfodetails
      display block
      margin auto
      margin-top 30px
      ul
        margin auto
        width 90%
        display table
        font-size 25px
        @media screen and (max-width: 1100px)
          font-size 20px
        padding-left 0
        label
          display table-cell
          padding-right 20px
        span
          display table-cell
      li
        display table-row

.leftbg
  background-image url('img/br_apples.svg')
  background-repeat: no-repeat
  background-size: contain
  height 80%
  width 50%
  @media screen and (max-width: 1100px)
    width 100%
    height 50%
    margin auto
  @media screen and (max-width: 700px)
    height 35%

.rightbg
  @media screen and (max-width: 1100px)
    display none
  background-image url('img/br_bananas.svg')
  background-repeat: no-repeat
  background-size: contain
  height 80%
  width 50%

.container
  display flex
  flex-flow row wrap
  margin auto
  align-items flex-start
  justify-content center

.item_overview
  flex 2 300px

.headline_box
  padding 30px
  h3
      color white
      font-size 25px
      letter-spacing -0.75px
  p
    color gray
    font 15px 'TWS Savory Light', Arial, sans-serif
    line-height 130%

.item
  flex 1 300px
  flex-grow 1
  p
    color gray
    font 15px 'TWS Savory Light', Arial, sans-serif
    line-height 170%

.contentcontainer
  margin-left auto
  margin-right auto
  margin-top 50px
  padding 0px 50px 0px 50px
  min-height 80%
  h2
    margin-top -70px
    font-size 65px
    letter-spacing 2px
    line-height 120%
    background rgba(14, 16, 33, 0.6);
    @media screen and (max-width: 1100px)
      font-size 40px
      margin-top -30px
      width 100%
    @media screen and (max-width: 700px)
      font-size 30px
      margin-top -20px

.afterfirst
  margin-top 200px

.content_box
    background #05060d
    padding 30px
    margin-right 20px
    margin-top 20px
    font 15px 'TWS Savory Light', Arial, sans-serif
    img
      width 25%
      margin auto 
      display block
      margin-bottom 30px
    h3
      color white
      font-size 22px
      letter-spacing -0.75px
    p
      color gray
      font 15px 'TWS Savory Light', Arial, sans-serif
      line-height 170%
      a
        font-size 15
    a
      font-size 20px
    a:visited
      color gray
    a:hover
      color gray
    a:link
      color white
    a:active
      color white

#mapbox
   z-index: -1;
   height 500px
   width 110%
   margin-top -100px
   margin-left -50px

.footers
  margin-top 50px

.footer
  width 20%
  font-size 15px
  margin auto
  margin-top 10px
  span
    width 100%
    display block
    margin auto
    text-align center
  a:visited
    color gray
  a:hover
    color gray
  a:link
    color white
  a:active
    color white

.typeform_box
  width 100%
  margin auto
.infochart
  @media screen and (max-width: 1100px)
    display none
  margin-top -550px
  padding-left 80px
  img
    width 100%
    max-width 1000px