body
  background #0e1021
  color white
  margin 0

p, h3, h4, h5, a
  font-family 'TWS Savory Light', Helvetica-Neue, sans-serif
  font-weight regular

h1
  font-size 100px
  min-width 200px

h2
  font-size calc(50px + 3vw)
  letter-spacing -1px
  line-height 110%
  margin 0
  padding 0

h3
  color rgba(255,255,255,.85)
  font-size 19px
  margin 5px 0

h1, h2
  font-family 'Quicksand', Helvetica-Neue, sans-serif
  font-weight 100

p
  color rgba(255,255,255,.5)
  font 14px 'TWS Savory Light', Arial, sans-serif
  font-weight light
  line-height 170%
  a
    font-size 15

.headlinespacing
  margin-bottom 50px

hr
  color rgba(255,255,255,.05)
  background-color rgba(255,255,255,.05)
  width 100%
  margin 10px 20px
  height 1px
  border 0
  +below(800px)
    display none

.wrapper
  max-width 1200px
  margin 0 auto
.landing
  background url("img/website_hero.svg")
  background-repeat no-repeat
  background-size cover
  margin auto
  width 100%
  height 100vh
  img
    width 90%

.small_header
  width 100%
  margin auto
  margin-top 10px
  @media screen and (min-width: 500px)
    display none
  @media screen and (max-width: 500px)
    display block
  img
    display block
    margin auto
    width 80%

#menue_container
  width 100%
  margin auto
  float right
  ul
    font-size 20px
    width 70%
    float left
    @media screen and (max-width: 1000px)
      width 70%
    li
      margin-left 20px
      float Left
      vertical-align top
    a
      font-weight bold
      color white
      text-decoration None
      transition all 0.3s ease
      &:hover
        color gray
        text-decoration None
      &:active
        color white
        text-decoration None
      &:visited
        color white
  .image_container
    float left
    @media screen and (max-width: 1000px)
      width 20%
    width 12%
    margin auto
    margin-top 5px
    img
      height 80%
      width 90%
  .apply_container
    float right
    width 10%
    vertical-align: text-top;
    @media screen and (max-width: 1000px)
      display None



header
  position: fixed
  top -150px
  font-size 72px
  height 80px
  width 100%
  padding-top 10px
  font-size 24px
  background #05060d
  transition all 0.7s ease
  -webkit-transition all 0.7s ease
  @media screen and (max-width: 700px)
    display None


header.sticky
  top 0px
  text-align left
  padding-left 20px
  transition all 0.7s ease

.prices_container
  width 100%
  display block
  .price
    width 30%
    margin auto
    display block
    p
      text-align center
      color white
      font-size 20px

.challenge_price
  min-width 26%
  margin-top 20px

.teaserlanding
  margin-top 150px
  width 100%
  img
    margin auto
    display block
    width 50%
    @media screen and (max-width: 700px)
      width 80%
  .teaserinfo
    margin-top 25px
    width 50%
    margin auto
    display block
    .teaserinfodetails
      display block
      margin auto
      margin-top 30px
      ul
        margin auto
        width 90%
        display table
        font-size 25px
        @media screen and (max-width: 1100px)
          font-size 20px
        padding-left 0
        label
          display table-cell
          padding-right 20px
        span
          display table-cell
      li
        display table-row

.leftbg
  background-image url('img/br_apples.svg')
  background-repeat: no-repeat
  background-size: contain
  height 80%
  width 50%
  @media screen and (max-width: 1100px)
    width 100%
    height 50%
    margin auto
  @media screen and (max-width: 700px)
    height 35%

.rightbg
  @media screen and (max-width: 1100px)
    display none
  background-image url('img/br_bananas.svg')
  background-repeat: no-repeat
  background-size: contain
  height 80%
  width 50%

.container
  display flex
  flex-flow row wrap
  margin auto
  align-items flex-start
  justify-content space-between



.headline_box
  padding 30px 30px 30px 0
  box-sizing border-box
  h3
      color white
      font-size 25px
      letter-spacing -0.75px
  p
    color gray
    font 15px 'TWS Savory Light', Arial, sans-serif
    line-height 130%

.item_overview
  flex 3 1200px

.item
  flex 1 360px
  flex-grow 1
  max-width calc(33% - 5px)
  padding 5px
  +below(1000px)
    max-width calc(50% - 5px)
  +below(770px)
    max-width 100%

.item2
  flex 1 360px
  flex-grow 1
  max-width calc(80% - 5px)
  padding 5px
  +below(1000px)
    max-width calc(50% - 5px)
  +below(770px)
    max-width 100%

.item_overview, .item, .item-jury
  margin-bottom 20px
  box-sizing border-box

.item-jury
  flex 1 270px
  display flex
  flex-direction column
  flex-wrap wrap
  text-align center
  justify-content center
  align-items center
  box-sizing border-box
  padding 20px
  img
    margin-bottom 30px
    background black
    width 75px
    height 75px
    padding 15px
    border-radius 50%
  max-width calc(33% - 5px)
  +below(1000px)
    max-width calc(50% - 5px)
  +below(770px)
    max-width 100%

.contentcontainer
  margin-top 50px
  min-height 80%
  padding 0 50px
  +below(1000px)
    padding 0 20px



.content_box
    background rgba(0,0,0,.35)
    padding 35px
    font 15px 'TWS Savory Light', Arial, sans-serif
    img
      width 25%
      margin auto 
      display block
      margin-bottom 30px
    h3
      color white
      font-size 22px
      letter-spacing -0.75px
    p
      color gray
      font 15px 'TWS Savory Light', Arial, sans-serif
      line-height 170%
      a
        font-size 15
    a
      font-size 20px
    a:visited
      color gray
    a:hover
      color gray
    a:link
      color white
    a:active
      color white

#mapbox
   z-index: -1;
   height 500px
   width 110%
   margin-top -100px
   margin-left -50px
   font-size 12px

.footers
  font-family 'Quicksand'
  margin-top 50px

.footer
  width 20%
  font-size 15px
  margin auto
  margin-top 10px
  span
    width 100%
    display block
    margin auto
    text-align center
  a:visited
    color gray
  a:hover
    color gray
  a:link
    color white
  a:active
    color white

.typeform_box
  width 100%
  margin auto
.infochart
  @media screen and (max-width: 1100px)
    display none
  margin-top -550px
  padding-left 80px
  img
    width 100%
    max-width 1000px