body
  font 13px 'Quicksand', Arial, sans-serif
  background #0e1021
  color white
  h1
    font-size 100px
    min-width 200px

.leftbg
  background-image url('img/br_apples.svg')
  background-repeat: no-repeat
  background-size: contain

.container
  display flex
  flex-direction row
  flex-wrap wrap

.item
  flex 1 300px